
  <h3>注文履歴一覧</h3>

      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>注文日:<%= order.created_at.to_s(:datetime_jp) %></td> <!--表示時間を日本語にする-->
            <td>
                宛名：<%= order.name %><br><!--配送先宛名-->
                配送先住所：<%= order.address %><br><!--配送先住所-->
                配送先郵便番号：<%= order.postal_code %><br><!--配送先郵便番号-->
                請求額：<%= "#{order.billing_amount.to_s(:delimited)}" %>円<br> <!--請求額-->
                <%= order.status %>
            </td>
          <td><%= link_to '表示する', order_path(order.id) %></td>
        </tr>
      </tbody>
      <% end %>