<h1>注文情報入力</h1>

<%= form_with model: @order, url: "/orders/log", method: :post, local: true do |f| %>
 <div>
      <h3><%= f.label :payment, "支払方法" %></h3>
      <%= f.radio_button :payment, "クレジットカード", checked: "checked" %>
      <%= f.label :payment, "クレジットカード" %>
      <br>
      <%= f.radio_button :payment, "銀行振込" %>
      <%= f.label :payment, "銀行振込" %>
    </div>



  <% end %>
