<h1>商品詳細</h1>

<%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>

<h2>商品名</h2>
<p> <%= f.hidden_field :cart_items, :value => @item.name %></p>

<h2>商品説明</h2>
<p><%= @item.introduction %></p>

<h2>税抜き価格</h2>
<p><%= @item.price %></p>

<%= f.select :amount, *[1..10] %>
<%= f.submit 'カートへ' %>
<% end %>
